.registerBtn{
    background-color:#75BF7A;
    border: 1px solid #75BF7A;
    height: 49.49px;
    width: 148.25px;
    color: #fff;
    border-radius: 2.78px;
}
.registerBtn:hover{
    background-color:#75BF7A !important;
    color: #fff;
}
.fontB{
    font-weight: bold;
}
.btnDark{
    background-color: #000;
    border: 1px solid #000;
    height: 49.49px;
    width: 200px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 2.78px;
}
.btnDark:hover{
    background-color:#000 !important;
    color: #fff;
}
.btnDark img{
    margin-right: 10px;
    width: 25px;
}
.navbar-nav{
    gap: 20.71px;
}
nav img{
    width: 100px;
}
.imgSize{
    width: 350px;
}
.headerColor{
    background-color: #F5F7FA;
}
.bgDark{
    background-color: #75BF7A;
    color: white;
    border-radius: 10px;
    height: 150px;

}
.myInput{
    width: 400px;
    border: none;
    outline: none;
    border-radius: 2.78px;
    padding-left: 20px;
}
.colorG{
    color: #75BF7A;
}
.colorT{
    color: #9E9DA2;
}
.groupImg{
    position: relative;

}
.groupImg .img1{
    width: 60px;
}
.groupImg .img2{
    position: absolute;
    top:19px ;
    right:24px ;
}
.bggreen{
    background-color: #75BF7A;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;

}
.bggreen img{
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img3{
    width: 200px;
}
.myBox{
    width: 850px;
    
}
.myBox2{
     margin-left: 90px;

}
.fontS{
    font-size: 60px;
}

@media only screen and (max-width: 992px) {

}